<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Search"></Label>
</ActionBar>

<GridLayout class="page page-content" tkMainContent>
    <Label class="page-icon fa" text="&#xf002;"></Label>
    <Label class="page-placeholder" text="<!-- Page content goes here -->"></Label>

    <StackLayout class="p-20">

        <Label text="barcode Scanner" class="h1 text-center" (tap)="showCode()"></Label>
        <Button text="SCAN" (tap)="scan()" class="btn btn-primary btn-active"></Button>

    </StackLayout>
</GridLayout>