<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon"res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionIcon icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionIcon>
    <Label class="action-bar-title" text="Gallery"></Label>
</ActionBar>
<GridLayout class="page page-content" tkMainContent>
    <Label class="page-icon fa" text="&#xf1ea;"></Label>
    <Label class="page-placeholder" text="Gallery page content"></Label>
</GridLayout>